<div class="zelf-card welcome-grace" *transloco="let t">
    <div class="zelf-card__header">
        <div class="welcome-grace__header-button">
            <button mat-icon-button class="zelf-icon-button zelf-icon-button--40" [routerLink]="['../find']">
                <svg viewBox="0 0 22 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M20.0898 5.8277H4.72478L8.08478 2.4677C8.53978 2.0127 8.53978 1.2777 8.08478 0.822695C7.62978 0.367695 6.89478 0.367695 6.43978 0.822695L1.08478 6.1777C0.62978 6.6327 0.62978 7.3677 1.08478 7.8227L6.43978 13.1777C6.89478 13.6327 7.62978 13.6327 8.08478 13.1777C8.53978 12.7227 8.53978 11.9877 8.08478 11.5327L4.72478 8.16103H20.0898C20.7314 8.16103 21.2564 7.63603 21.2564 6.99436C21.2564 6.3527 20.7314 5.8277 20.0898 5.8277Z"
                    />
                </svg>
            </button>
        </div>
    </div>

    <div class="zelf-card__content welcome-grace__content">
        <ng-container *ngIf="tagNameObject">
            <div class="welcome-grace__details">
                <div class="zelf-chip welcome-grace__chip zelf-chip--error">
                    <ng-container *ngIf="tagNameObject.publicData.isInGracePeriod">{{ t("common.registered") }}</ng-container>
                    <ng-container *ngIf="!tagNameObject.publicData.isInGracePeriod">{{ t("common.domain_expired") }}</ng-container>
                </div>

                <h2 class="zelf-card__title">{{ tagNameObject.fullTagName }}</h2>

                <p class="zelf-card__subtitle welcome-grace__subtitle">
                    <span *ngIf="tagNameObject.publicData.isInGracePeriod">
                        {{ t("welcome.registered_since", { date: tagNameObject.publicData.registeredAt | date: "dd MMM, yyyy" }) }}
                    </span>

                    <span *ngIf="!tagNameObject.publicData.isInGracePeriod">
                        {{ t("welcome.domain_expired_since", { date: tagNameObject.publicData.gracePeriod | date: "dd MMM, yyyy" }) }}
                    </span>
                </p>

                <div class="welcome-grace__addresses">
                    <ng-container
                        *ngTemplateOutlet="
                            addressRow;
                            context: {
                                $implicit: {
                                    address: tagNameObject?.publicData?.btcAddress,
                                    label: 'Bitcoin',
                                    logo: 'assets/networks/btc.png',
                                    value: tagNameObject?.displayBtcAddress,
                                },
                            }
                        "
                    ></ng-container>

                    <ng-container
                        *ngTemplateOutlet="
                            addressRow;
                            context: {
                                $implicit: {
                                    address: tagNameObject?.publicData?.ethAddress,
                                    label: 'Ethereum',
                                    logo: 'assets/networks/eth.png',
                                    value: tagNameObject?.displayEthAddress,
                                },
                            }
                        "
                    ></ng-container>

                    <ng-container
                        *ngTemplateOutlet="
                            addressRow;
                            context: {
                                $implicit: {
                                    address: tagNameObject?.publicData?.solanaAddress,
                                    label: 'Solana',
                                    logo: 'assets/networks/sol.svg',
                                    value: tagNameObject?.displaySolanaAddress,
                                },
                            }
                        "
                    ></ng-container>
                </div>

                <div class="welcome-grace__date-row" *ngIf="tagNameObject.publicData.expiresAt">
                    <div class="welcome-grace__date-column">
                        <p class="welcome-grace__date-title">
                            {{ t("welcome.name_expires") }}
                        </p>

                        <div class="welcome-grace__date-text__inner-row">
                            <p class="welcome-grace__date-text">
                                {{ tagNameObject.publicData.expiresAt | date: "dd MMM, yyyy" }}
                            </p>

                            <svg width="14" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M7.4935 0.333984C3.8135 0.333984 0.833496 3.32065 0.833496 7.00065C0.833496 10.6807 3.8135 13.6673 7.4935 13.6673C11.1802 13.6673 14.1668 10.6807 14.1668 7.00065C14.1668 3.32065 11.1802 0.333984 7.4935 0.333984ZM10.1668 9.66732C9.90683 9.92732 9.48683 9.92732 9.22683 9.66732L7.0335 7.47398C6.90683 7.34732 6.8335 7.18065 6.8335 7.00065V4.33398C6.8335 3.96732 7.1335 3.66732 7.50016 3.66732C7.86683 3.66732 8.16683 3.96732 8.16683 4.33398V6.72732L10.1668 8.72732C10.4268 8.98732 10.4268 9.40732 10.1668 9.66732Z"
                                    fill="#0E26FF"
                                />
                            </svg>
                        </div>
                    </div>

                    <div class="welcome-grace__date-column">
                        <p class="welcome-grace__date-title">
                            {{ t("welcome.grace_period_until") }}
                        </p>

                        <div class="welcome-grace__date-text__inner-row">
                            <p class="welcome-grace__date-text" *ngIf="tagNameObject.publicData.gracePeriod">
                                {{ tagNameObject.publicData.gracePeriod | date: "dd MMM, yyyy" }}
                            </p>

                            <svg width="14" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M7.50016 0.333984C3.82016 0.333984 0.833496 3.32065 0.833496 7.00065C0.833496 10.6807 3.82016 13.6673 7.50016 13.6673C11.1802 13.6673 14.1668 10.6807 14.1668 7.00065C14.1668 3.32065 11.1802 0.333984 7.50016 0.333984ZM7.50016 10.334C7.1335 10.334 6.8335 10.034 6.8335 9.66732V7.00065C6.8335 6.63398 7.1335 6.33398 7.50016 6.33398C7.86683 6.33398 8.16683 6.63398 8.16683 7.00065V9.66732C8.16683 10.034 7.86683 10.334 7.50016 10.334ZM8.16683 5.00065H6.8335V3.66732H8.16683V5.00065Z"
                                    fill="#0E26FF"
                                />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>

    <div class="zelf-card__actions zelf-card__actions--column">
        <ng-container *ngIf="tagNameObject">
            <div class="tip-box">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M10 0C4.48 0 0 4.48 0 10C0 15.52 4.48 20 10 20C15.52 20 20 15.52 20 10C20 4.48 15.52 0 10 0ZM10 11C9.45 11 9 10.55 9 10V6C9 5.45 9.45 5 10 5C10.55 5 11 5.45 11 6V10C11 10.55 10.55 11 10 11ZM11 15H9V13H11V15Z"
                        fill="#FF5721"
                    />
                </svg>

                <p class="tip-box__text" *ngIf="tagNameObject.publicData.isInGracePeriod">{{ t("welcome.renew_your_domain_today") }}</p>
                <p class="tip-box__text" *ngIf="!tagNameObject.publicData.isInGracePeriod">{{ t("welcome.dont_lose_your_zelfname") }}</p>
            </div>

            <button
                (click)="renewZelfName()"
                class="zelf-button zelf-button--primary zelf-button--wide"
                mat-flat-button
                *ngIf="!tagNameObject.available"
            >
                {{ t("common.renew_subscription") }}
            </button>

            <button
                (click)="decryptZelfName()"
                *ngIf="tagNameObject.publicData.isInGracePeriod && tagNameObject.publicData.isExpired"
                class="zelf-button zelf-button--hyperlink zelf-button--wide"
                mat-flat-button
            >
                {{ t("welcome.decrypt_now_renew_later") }}
            </button>
        </ng-container>
    </div>
</div>

<ng-template #addressRow let-address>
    <ng-container *transloco="let t">
        <div (click)="copyToClipboard(address.address)" class="address-row tooltip-container" *ngIf="address.value">
            <div class="address-row__inner">
                <img class="address-row__logo" [src]="address.logo" alt="Currency Logo" />

                <div class="address-row__label">{{ address.label }}</div>
                <div class="address-row__value">{{ address.value }}</div>
            </div>

            <div class="tooltip">{{ t("common.copy") }}</div>
        </div>
    </ng-container>
</ng-template>
