<div class="zelf-card home-hub" *transloco="let t">
    <home-hub-header
        [walletName]="walletName"
        [showName]="showName"
        (profileClick)="openProfilePanel()"
        (toggleNameClick)="toggleName()"
    />

    <div class="home-hub__body">
        <div class="zelf-authenticator__header">
            <p class="zelf-authenticator__title">{{ t("common.zelf_authenticator") }}</p>
        </div>

        <div class="zelf-card__content zelf-authenticator__content">
        <div class="zelf-authenticator__search">
            <div class="zelf-input zelf-input--wide">
                <input
                    (ngModelChange)="onSearchChange()"
                    [(ngModel)]="searchQuery"
                    [placeholder]="' '"
                    class="zelf-input__control zelf-input__control--floating-label"
                    id="zotpSearch"
                    type="text"
                />

                <label for="zotpSearch" class="zelf-input__floating-label">{{ t("common.search") }}</label>

                <button
                    (click)="refreshList()"
                    [disabled]="loading"
                    [ngClass]="{ 'zelf-authenticator__refresh-button--loading': loading }"
                    [title]="t('zotp.refresh_list')"
                    class="zelf-icon-button zelf-icon-button--primary"
                    tabindex="-1"
                    type="button"
                >
                    <svg
                        class="zelf-authenticator__refresh-icon"
                        height="24px"
                        viewBox="0 -960 960 960"
                        width="24px"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M480-160q-134 0-227-93t-93-227q0-134 93-227t227-93q69 0 132 28.5T720-690v-110h80v280H520v-80h168q-32-56-87.5-88T480-720q-100 0-170 70t-70 170q0 100 70 170t170 70q77 0 139-44t87-116h84q-28 106-114 173t-196 67Z"
                        />
                    </svg>
                </button>
            </div>
        </div>

        <zelf-loader *ngIf="loading"></zelf-loader>

        <ng-container *ngIf="!loading">
            <div class="zotps" *ngIf="filteredZotps.length > 0">
                <div class="zotp" *ngFor="let zotp of filteredZotps">
                    <div class="zotp__display">
                        <div class="zotp__clickable" (click)="toggleDecrypt(zotp)">
                            <div class="zotp__avatar">
                                <img *ngIf="zotp.zelfProofQRCode" [src]="zotp.zelfProofQRCode" [alt]="zotp.name" class="zotp__qr-image" />
                                <span *ngIf="!zotp.zelfProofQRCode" class="zotp__character">{{ zotp.name | firstLetter }}</span>
                            </div>

                            <div class="zotp__info">
                                <div class="zotp__name-container">
                                    <h4 class="zotp__name">{{ zotp.name }}</h4>
                                    <p class="zotp__issuer" *ngIf="zotp.issuer">{{ zotp.issuer }}</p>
                                </div>

                                <div class="zotp__code-container">
                                    <div class="zotp__code" [ngClass]="{ 'zotp__code--masked': !zotp.isDecrypted }">
                                        {{ getDisplayCode(zotp) }}
                                    </div>
                                    <div class="zotp__timer" *ngIf="zotp.isDecrypted">
                                        <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="4" cy="4" r="3.5" stroke="currentColor" stroke-width="1" />
                                            <path d="M4 2V4L5.5 5.5" stroke="currentColor" stroke-width="1" stroke-linecap="round" />
                                        </svg>
                                        <span>{{ getTimeRemaining(zotp) }}s</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button mat-icon-button class="zotp__action" [matMenuTriggerFor]="menu">
                            <svg width="16" height="4" viewBox="0 0 16 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M2 0C0.9 0 0 0.9 0 2C0 3.1 0.9 4 2 4C3.1 4 4 3.1 4 2C4 0.9 3.1 0 2 0ZM14 0C12.9 0 12 0.9 12 2C12 3.1 12.9 4 14 4C15.1 4 16 3.1 16 2C16 0.9 15.1 0 14 0ZM8 0C6.9 0 6 0.9 6 2C6 3.1 6.9 4 8 4C9.1 4 10 3.1 10 2C10 0.9 9.1 0 8 0Z"
                                />
                            </svg>
                        </button>

                        <mat-menu class="zelf-menu" #menu>
                            <button class="zelf-menu__button zelf-menu__button--icon-end" mat-menu-item (click)="showDetails(zotp)">
                                <span class="zelf-menu__button-text">{{ t("zotp.see_details") }}</span>

                                <span class="zelf-menu__button-icon">
                                    <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z" />
                                    </svg>
                                </span>
                            </button>

                            <button class="zelf-menu__button zelf-menu__button--icon-end" mat-menu-item (click)="exportZOTP(zotp)">
                                <span class="zelf-menu__button-text">{{ t("zotp.export") }}</span>

                                <span class="zelf-menu__button-icon">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M8 2L3 7H6V12H10V7H13L8 2ZM2 14V16H14V14H2Z" fill="currentColor" />
                                    </svg>
                                </span>
                            </button>

                            <button
                                *ngIf="zotp.isDecrypted"
                                class="zelf-menu__button zelf-menu__button--icon-end"
                                mat-menu-item
                                (click)="hideSecret(zotp)"
                            >
                                <span class="zelf-menu__button-text">{{ t("zotp.hide_secret") }}</span>

                                <span class="zelf-menu__button-icon">
                                    <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z"
                                        />
                                    </svg>
                                </span>
                            </button>

                            <button class="zelf-menu__button zelf-menu__button--icon-end" mat-menu-item (click)="deleteZOTP(zotp)">
                                <span class="zelf-menu__button-text">{{ t("common.remove") }}</span>

                                <span class="zelf-menu__button-icon">
                                    <svg width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M11 6V16H3V6H11ZM9.5 0H4.5L3.5 1H0V3H14V1H10.5L9.5 0ZM13 4H1V16C1 17.1 1.9 18 3 18H11C12.1 18 13 17.1 13 16V4Z"
                                        />
                                    </svg>
                                </span>
                            </button>
                        </mat-menu>
                    </div>
                </div>

                <!-- The empty state has its own add card; once there are zOTPs this keeps adding another one possible -->
                <button
                    *ngIf="!searchQuery.trim()"
                    type="button"
                    class="zelf-button zelf-button--outlined zelf-button--wide zelf-authenticator__add-button"
                    (click)="openAddZotp()"
                >
                    + {{ t("zotp.add_zotp") }}
                </button>
            </div>

            <div class="zelf-authenticator__empty" *ngIf="!loading && filteredZotps.length === 0">
                <p class="zelf-authenticator__empty-text" *ngIf="searchQuery.trim()">{{ t("common.no_results_found") }}</p>

                <ng-container *ngIf="!searchQuery.trim()">
                    <p class="zelf-authenticator__empty-intro">{{ t("zotp.no_zotps_added") }}</p>

                    <button type="button" class="zotp zotp--add-placeholder" (click)="openAddZotp()" [attr.aria-label]="t('zotp.add_zotp')">
                        <div class="zotp__display zotp--add-placeholder__display">
                            <div class="zotp__clickable zotp--add-placeholder__body">
                                <div class="zotp__avatar zotp--add-placeholder__avatar" aria-hidden="true">
                                    <span class="zotp__character zotp--add-placeholder__plus">+</span>
                                </div>

                                <div class="zotp__info">
                                    <div class="zotp__name-container">
                                        <h4 class="zotp__name">{{ t("zotp.empty_preview_name") }}</h4>
                                        <p class="zotp__issuer">{{ t("zotp.empty_preview_issuer") }}</p>
                                    </div>

                                    <div class="zotp__code-container">
                                        <div class="zotp__code zotp__code--masked" aria-hidden="true">* * * * * *</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <span class="zotp--add-placeholder__cta">{{ t("zotp.add_zotp") }}</span>
                        <span class="zotp--add-placeholder__hint">{{ t("zotp.empty_add_hint") }}</span>
                    </button>
                </ng-container>
            </div>
        </ng-container>
            </div>
        </div>

        <zelf-footer [shareables]="{ wallet: wallet }"></zelf-footer>

        <home-profile-panel
            *ngIf="showProfilePanel"
            [wallets]="allWallets"
            [currentWallet]="wallet"
            [visible]="showProfilePanel"
            (closed)="closeProfilePanel()"
            (walletSelected)="onPanelWalletSelected($event)"
            (openSettings)="onPanelSettings()"
            (addAccount)="onPanelAddAccount()"
        />
    </div>
