<div class="zelf-card manage-domains" *transloco="let t">
    <div class="manage-domains__header">
        <div class="manage-domains__col1">
            <button mat-flat-button class="zelf-icon-button zelf-icon-button--40 zelf-icon-button--secondary" [routerLink]="['/home']">
                <svg viewBox="0 0 22 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M20.0898 5.8277H4.72478L8.08478 2.4677C8.53978 2.0127 8.53978 1.2777 8.08478 0.822695C7.62978 0.367695 6.89478 0.367695 6.43978 0.822695L1.08478 6.1777C0.62978 6.6327 0.62978 7.3677 1.08478 7.8227L6.43978 13.1777C6.89478 13.6327 7.62978 13.6327 8.08478 13.1777C8.53978 12.7227 8.53978 11.9877 8.08478 11.5327L4.72478 8.16103H20.0898C20.7314 8.16103 21.2564 7.63603 21.2564 6.99436C21.2564 6.3527 20.7314 5.8277 20.0898 5.8277Z"
                    />
                </svg>
            </button>
        </div>

        <div class="manage-domains__col2">
            <p class="manage-domains__title">{{ t("common.manage_domains") }}</p>
        </div>

        <div class="manage-domains__col3">
            <button mat-flat-button class="zelf-icon-button zelf-icon-button--40 zelf-icon-button--secondary" [routerLink]="['/welcome-zelfid']">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M16 10.1673H10.1667V16.0007C10.1667 16.6423 9.64168 17.1673 9.00001 17.1673C8.35834 17.1673 7.83334 16.6423 7.83334 16.0007V10.1673H2.00001C1.35834 10.1673 0.833344 9.64232 0.833344 9.00065C0.833344 8.35898 1.35834 7.83398 2.00001 7.83398H7.83334V2.00065C7.83334 1.35898 8.35834 0.833984 9.00001 0.833984C9.64168 0.833984 10.1667 1.35898 10.1667 2.00065V7.83398H16C16.6417 7.83398 17.1667 8.35898 17.1667 9.00065C17.1667 9.64232 16.6417 10.1673 16 10.1673Z"
                    />
                </svg>
            </button>
        </div>
    </div>

    <div class="zelf-card__content manage-domains__content">
        <zelf-loader *ngIf="loading || deleting"></zelf-loader>

        <ng-container *ngIf="!loading && !deleting">
            <div class="domains">
                <div class="domain" *ngFor="let wallet of wallets">
                    <div class="domain__display">
                        <div class="domain__clickable" (click)="goToDomain(wallet)">
                            <div
                                class="domain__avatar"
                                [ngClass]="{
                                    'domain__avatar--current': wallet.tagName === currentWallet.tagName,
                                    'domain__avatar--mainnet': wallet.publicData?.type === 'mainnet',
                                    'domain__avatar--hold': wallet.publicData?.type === 'hold',
                                }"
                            >
                                <span class="domain__character">{{ wallet.tagName | firstLetter }}</span>
                            </div>

                            <div class="domain__info">
                                <h4 class="domain__name">{{ wallet.fullTagName }}</h4>

                                <div class="domain__status-indicators">
                                    <div class="domain__status-indicator domain__status-indicator--warning" *ngIf="wallet.publicData?.isExpiringSoon">
                                        <ng-container *ngTemplateOutlet="warningIcon"></ng-container>
                                    </div>

                                    <div class="domain__status-indicator domain__status-indicator--error" *ngIf="wallet.publicData?.isInGracePeriod">
                                        <ng-container *ngTemplateOutlet="timeoutIcon"></ng-container>
                                    </div>

                                    <div class="domain__status-indicator domain__status-indicator--error" *ngIf="wallet.publicData?.isFullyExpired">
                                        <ng-container *ngTemplateOutlet="errorIcon"></ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button mat-icon-button class="domain__action" [matMenuTriggerFor]="menu">
                            <svg width="16" height="4" viewBox="0 0 16 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M2 0C0.9 0 0 0.9 0 2C0 3.1 0.9 4 2 4C3.1 4 4 3.1 4 2C4 0.9 3.1 0 2 0ZM14 0C12.9 0 12 0.9 12 2C12 3.1 12.9 4 14 4C15.1 4 16 3.1 16 2C16 0.9 15.1 0 14 0ZM8 0C6.9 0 6 0.9 6 2C6 3.1 6.9 4 8 4C9.1 4 10 3.1 10 2C10 0.9 9.1 0 8 0Z"
                                />
                            </svg>
                        </button>

                        <mat-menu class="zelf-menu" #menu>
                            <button class="zelf-menu__button zelf-menu__button--icon-end" mat-menu-item (click)="downloadZelfProof(wallet)">
                                <span class="zelf-menu__button-text">{{ t("common.download_zelfproof") }}</span>

                                <span class="zelf-menu__button-icon"
                                    ><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M14 11V14H2V11H0V14C0 15.1 0.9 16 2 16H14C15.1 16 16 15.1 16 14V11H14ZM13 7L11.59 5.59L9 8.17V0H7V8.17L4.41 5.59L3 7L8 12L13 7Z"
                                        />
                                    </svg>
                                </span>
                            </button>

                            <button class="zelf-menu__button zelf-menu__button--icon-end" mat-menu-item (click)="deleteZelfProof(wallet)">
                                <span class="zelf-menu__button-text">{{ t("common.logout") }}</span>

                                <span class="zelf-menu__button-icon">
                                    <svg width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M11 6V16H3V6H11ZM9.5 0H4.5L3.5 1H0V3H14V1H10.5L9.5 0ZM13 4H1V16C1 17.1 1.9 18 3 18H11C12.1 18 13 17.1 13 16V4Z"
                                        />
                                    </svg>
                                </span>
                            </button>
                        </mat-menu>
                    </div>

                    <div class="domain-detail" *ngIf="showDetails(wallet)">
                        <div class="domain-detail__row">
                            <div class="domain-detail__icon domain-detail__icon--warning" *ngIf="wallet.publicData?.isExpiringSoon">
                                <ng-container *ngTemplateOutlet="warningIcon"></ng-container>
                            </div>

                            <div class="domain-detail__icon domain-detail__icon--error" *ngIf="wallet.publicData?.isExpired">
                                <ng-container *ngTemplateOutlet="errorIcon"></ng-container>
                            </div>

                            <p class="domain-detail__text" *ngIf="wallet.publicData?.isExpiringSoon">{{ t("manage_domains.domain_warning") }}</p>
                            <p class="domain-detail__text" *ngIf="wallet.publicData?.isInGracePeriod">{{ t("manage_domains.domain_warning") }}</p>
                            <p class="domain-detail__text" *ngIf="wallet.publicData?.isFullyExpired">
                                {{ t("manage_domains.domain_error", { zelfName: wallet.tagName }) }}
                            </p>

                            <p class="domain-detail__countdown" *ngIf="wallet.publicData?.isExpiringSoon">
                                <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M8 13.6673L7.99333 9.66732L5.33333 7.00065L7.99333 4.32732L8 0.333984H0V4.33398L2.66667 7.00065L0 9.66065V13.6673H8ZM1.33333 4.00065V1.66732H6.66667V4.00065L4 6.66732L1.33333 4.00065Z"
                                    />
                                </svg>

                                <span>{{ wallet.publicData?.expiresAt | timer }}</span>
                            </p>
                        </div>

                        <div class="domain-detail__col">
                            <button
                                (click)="goToPurchase(wallet)"
                                *ngIf="wallet.publicData?.isExpiringSoon"
                                class="zelf-button zelf-button--primary zelf-button--wide"
                                mat-flat-button
                            >
                                <span>{{ t("common.buy_now") }}</span>

                                <ng-container *ngTemplateOutlet="zelfLogo"></ng-container>
                            </button>

                            <button
                                (click)="goToRecovery(wallet)"
                                mat-flat-button
                                class="zelf-button zelf-button--primary zelf-button--wide"
                                *ngIf="wallet.publicData?.isExpired"
                            >
                                <span>{{ t("common.renew_domain") }}</span>

                                <ng-container *ngTemplateOutlet="zelfLogo"></ng-container>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>

        <div class="manage-domains__footer">
            <button mat-flat-button class="zelf-button zelf-button--outlined zelf-button--wide" [routerLink]="['/welcome-zelfid']">
                <span>{{ t("manage_domains.purchase_new_domain") }}</span>

                <ng-container *ngTemplateOutlet="zelfLogo"></ng-container>
            </button>
        </div>
    </div>

    <ng-template #zelfLogo>
        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9.00809 0C10.0223 1.37638 11.3245 2.94543 12.9662 4.56695H5.5957C7.19048 2.87796 8.28196 1.25719 9.00961 0H9.00885H9.00809Z" />
            <path
                d="M0 9.0219C1.29765 8.39218 3.00233 7.40412 4.71307 5.8928C4.86391 5.75936 5.01171 5.62442 5.15345 5.49023H11.7448C11.7448 5.49023 6.97107 12.2365 4.3591 12.2567C2.20418 12.2739 1.30144 9.82479 0 9.02115L0 9.0219Z"
            />
            <path
                d="M9.42861 17.9992C8.6335 16.9197 7.60948 15.6873 6.31259 14.4121H12.3733C11.0893 15.706 10.1305 16.955 9.42937 17.9992H9.42861Z"
            />
            <path
                d="M13.3339 13.2992C13.2627 13.3621 13.1929 13.4259 13.124 13.4888H6.04755C6.04755 13.4888 10.9001 6.65491 13.5469 6.64066C15.7557 6.62942 16.6705 9.13704 18 9.95792C16.6478 10.7173 15.0015 11.7976 13.3332 13.2992H13.3339Z"
            />
        </svg>
    </ng-template>

    <ng-template #warningIcon>
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M10 0C4.48 0 0 4.48 0 10C0 15.52 4.48 20 10 20C15.52 20 20 15.52 20 10C20 4.48 15.52 0 10 0ZM10 15C9.45 15 9 14.55 9 14V10C9 9.45 9.45 9 10 9C10.55 9 11 9.45 11 10V14C11 14.55 10.55 15 10 15ZM11 7H9V5H11V7Z"
            />
        </svg>
    </ng-template>

    <ng-template #errorIcon>
        <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M2.47 17.5036H17.53C19.07 17.5036 20.03 15.8336 19.26 14.5036L11.73 1.49359C10.96 0.163594 9.04 0.163594 8.27 1.49359L0.739999 14.5036C-0.0300008 15.8336 0.929999 17.5036 2.47 17.5036ZM10 10.5036C9.45 10.5036 9 10.0536 9 9.50359V7.50359C9 6.95359 9.45 6.50359 10 6.50359C10.55 6.50359 11 6.95359 11 7.50359V9.50359C11 10.0536 10.55 10.5036 10 10.5036ZM11 14.5036H9V12.5036H11V14.5036Z"
            />
        </svg>
    </ng-template>

    <ng-template #timeoutIcon>
        <svg width="20" height="20" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M2.47 17.5036H17.53C19.07 17.5036 20.03 15.8336 19.26 14.5036L11.73 1.49359C10.96 0.163594 9.04 0.163594 8.27 1.49359L0.739999 14.5036C-0.0300008 15.8336 0.929999 17.5036 2.47 17.5036ZM10 10.5036C9.45 10.5036 9 10.0536 9 9.50359V7.50359C9 6.95359 9.45 6.50359 10 6.50359C10.55 6.50359 11 6.95359 11 7.50359V9.50359C11 10.0536 10.55 10.5036 10 10.5036ZM11 14.5036H9V12.5036H11V14.5036Z"
            />
        </svg>
    </ng-template>
</div>
