<div class="zelf-card zelf-settings" [class.zelf-settings--start]="selectedSettings === 'dapps'" *transloco="let t">
    <div class="zelf-settings__header" *ngIf="selectedSettings !== 'dapps'">
        <div class="zelf-settings__header-col1">
            <button
                [queryParams]="{ edit: '' }"
                [routerLink]="!selectedSettings ? ['/home'] : ['./']"
                class="zelf-icon-button zelf-icon-button--secondary zelf-icon-button--40"
                mat-flat-button
            >
                <svg width="22" height="14" viewBox="0 0 22 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M20.0898 5.8277H4.72478L8.08478 2.4677C8.53978 2.0127 8.53978 1.2777 8.08478 0.822695C7.62978 0.367695 6.89478 0.367695 6.43978 0.822695L1.08478 6.1777C0.62978 6.6327 0.62978 7.3677 1.08478 7.8227L6.43978 13.1777C6.89478 13.6327 7.62978 13.6327 8.08478 13.1777C8.53978 12.7227 8.53978 11.9877 8.08478 11.5327L4.72478 8.16103H20.0898C20.7314 8.16103 21.2564 7.63603 21.2564 6.99436C21.2564 6.3527 20.7314 5.8277 20.0898 5.8277Z"
                    />
                </svg>
            </button>
        </div>

        <div class="zelf-settings__header-col2">
            <p class="zelf-settings__title">{{ t(pageTitle) }}</p>
        </div>

        <div class="zelf-settings__header-col3"></div>
    </div>

    <ng-container *ngIf="!selectedSettings">
        <div class="zelf-settings__body">
            <div class="zelf-settings__list">
                <a
                    *ngFor="let settingItem of settingsItems"
                    class="zelf-settings__row"
                    [queryParams]="settingItem.queryParams"
                    [routerLink]="settingItem.routerLink"
                >
                    <div class="zelf-settings__icon-tile">
                        <ng-container *ngTemplateOutlet="getTemplateIcon(settingItem)"></ng-container>
                    </div>
                    <span class="zelf-settings__label">{{ t(settingItem.text) }}</span>
                    <div class="zelf-settings__chevron" aria-hidden="true">
                        <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.70504 0L0.295044 1.41L4.87504 6L0.295044 10.59L1.70504 12L7.70504 6L1.70504 0Z" />
                        </svg>
                    </div>
                </a>

                <a
                    *ngFor="let link of footerLinks"
                    class="zelf-settings__row zelf-settings__row--link"
                    [routerLink]="['/external-link']"
                    [queryParams]="{ externalUrl: link.url }"
                >
                    <div class="zelf-settings__icon-tile">
                        <ng-container *ngTemplateOutlet="externalLinkIcon"></ng-container>
                    </div>
                    <span class="zelf-settings__label">{{ t(link.text) }}</span>
                    <div class="zelf-settings__chevron" aria-hidden="true">
                        <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.70504 0L0.295044 1.41L4.87504 6L0.295044 10.59L1.70504 12L7.70504 6L1.70504 0Z" />
                        </svg>
                    </div>
                </a>
            </div>
        </div>

        <div class="zelf-card__actions zelf-card__actions--end">
            <button (click)="logout()" mat-flat-button class="zelf-button zelf-button--outlined zelf-button--wide">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M14 5L12.59 6.41L14.17 8H6V10H14.17L12.59 11.58L14 13L18 9L14 5ZM2 2H9V0H2C0.9 0 0 0.9 0 2V16C0 17.1 0.9 18 2 18H9V16H2V2Z"
                    />
                </svg>

                <span>{{ t("common.remove_all_zelfproofs") }}</span>
            </button>
        </div>
    </ng-container>

    <ng-container *ngIf="selectedSettings === 'networks'">
        <zelf-settings-networks></zelf-settings-networks>
    </ng-container>

    <ng-container *ngIf="selectedSettings === 'security'">
        <zelf-settings-security></zelf-settings-security>
    </ng-container>

    <ng-container *ngIf="selectedSettings === 'notifications'">
        <zelf-settings-notifications></zelf-settings-notifications>
    </ng-container>

    <ng-container *ngIf="selectedSettings === 'theme'">
        <zelf-settings-theme></zelf-settings-theme>
    </ng-container>

    <ng-container *ngIf="selectedSettings === 'language'">
        <zelf-settings-language></zelf-settings-language>
    </ng-container>

    <ng-container *ngIf="selectedSettings === 'dapps'">
        <zelf-settings-dapps></zelf-settings-dapps>
    </ng-container>
</div>

<ng-template #networksIcon>
    <span class="material-symbols-outlined zelf-icon">lan</span>
</ng-template>

<ng-template #securityIcon>
    <span class="material-symbols-outlined zelf-icon">security</span>
</ng-template>

<ng-template #notificationsIcon>
    <span class="material-symbols-outlined zelf-icon">notifications</span>
</ng-template>

<ng-template #themeIcon>
    <span class="material-symbols-outlined zelf-icon">dark_mode</span>
</ng-template>

<ng-template #languageIcon>
    <span class="material-symbols-outlined zelf-icon">translate</span>
</ng-template>

<ng-template #subscriptionIcon>
    <span class="material-symbols-outlined zelf-icon">license</span>
</ng-template>

<ng-template #dappsConnectionsIcon>
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" class="zelf-icon" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M4 10V14H8V10H4ZM10 10V14H14V10H10ZM16 10V14H20V10H16ZM4 16V20H8V16H4ZM10 16V20H14V16H10ZM16 16V20H20V16H16ZM4 4V8H8V4H4ZM10 4V8H14V4H10ZM16 4V8H20V4H16Z"
            fill="currentColor"
        />
    </svg>
</ng-template>

<ng-template #externalLinkIcon>
    <span class="material-symbols-outlined zelf-icon">link</span>
</ng-template>
