@mixin welcome-device-tokens {
    --welcome-onboarding-scale: 1;
    --welcome-onboarding-width: 402px;
    --welcome-onboarding-height: 852px;
}

@mixin welcome-device-scale {
    :host-context(.main-div--fullscreen) {
        --welcome-onboarding-scale: 1;
    }

    @media screen and (max-height: 1032px) {
        :host-context(.main-div--fullscreen) {
            --welcome-onboarding-scale: 0.95;
        }
    }

    @media screen and (max-height: 980px) {
        :host-context(.main-div--fullscreen) {
            --welcome-onboarding-scale: 0.9;
        }
    }

    @media screen and (max-height: 930px) {
        :host-context(.main-div--fullscreen) {
            --welcome-onboarding-scale: 0.84;
        }
    }

    @media screen and (max-height: 880px) {
        :host-context(.main-div--fullscreen) {
            --welcome-onboarding-scale: 0.78;
        }
    }

    @media screen and (max-height: 830px) {
        :host-context(.main-div--fullscreen) {
            --welcome-onboarding-scale: 0.72;
        }
    }

    @media screen and (max-height: 780px) {
        :host-context(.main-div--fullscreen) {
            --welcome-onboarding-scale: 0.66;
        }
    }

    @media screen and (max-height: 730px) {
        :host-context(.main-div--fullscreen) {
            --welcome-onboarding-scale: 0.6;
        }
    }

    @media screen and (max-height: 680px) {
        :host-context(.main-div--fullscreen) {
            --welcome-onboarding-scale: 0.55;
        }
    }

    @media screen and (max-height: 630px) {
        :host-context(.main-div--fullscreen) {
            --welcome-onboarding-scale: 0.49;
        }
    }

    :host-context(.main-div--popout) {
        --welcome-onboarding-scale: 0.68;
    }
}
