<div class="zelf-card welcome-registered" *transloco="let t">
    <div class="zelf-card__header">
        <div class="welcome-registered__header-button">
            <button mat-icon-button class="zelf-icon-button zelf-icon-button--40" [routerLink]="['../']">
                <svg viewBox="0 0 22 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M20.0898 5.8277H4.72478L8.08478 2.4677C8.53978 2.0127 8.53978 1.2777 8.08478 0.822695C7.62978 0.367695 6.89478 0.367695 6.43978 0.822695L1.08478 6.1777C0.62978 6.6327 0.62978 7.3677 1.08478 7.8227L6.43978 13.1777C6.89478 13.6327 7.62978 13.6327 8.08478 13.1777C8.53978 12.7227 8.53978 11.9877 8.08478 11.5327L4.72478 8.16103H20.0898C20.7314 8.16103 21.2564 7.63603 21.2564 6.99436C21.2564 6.3527 20.7314 5.8277 20.0898 5.8277Z"
                    />
                </svg>
            </button>
        </div>
    </div>

    <div class="zelf-card__content welcome-registered__content">
        <div class="welcome-registered__details">
            <div class="qr-code" *ngIf="tagModel?.publicData?.type === 'hold' || !tagModel?.isExpired">
                <img class="qr-code__image" [src]="qrCodeImage" alt="zelf-proof" />
            </div>

            <div
                [ngClass]="{
                    'zelf-chip--info': tagModel?.publicData?.type === 'mainnet' && !tagModel?.isExpired,
                    'zelf-chip--error': tagModel?.publicData?.type === 'hold' || tagModel?.isExpired,
                }"
                class="zelf-chip welcome-registered__chip"
            >
                <ng-container *ngIf="tagModel?.publicData?.type === 'hold'">{{ t("common.reservation_found") }}</ng-container>
                <ng-container *ngIf="tagModel?.publicData?.type === 'mainnet'">{{ t("common.registered") }}</ng-container>
            </div>

            <h2 class="zelf-card__title">{{ tagModel?.fullTagName }}</h2>

            <ng-container *ngIf="tagModel?.publicData?.origin === 'offline'">
                <p class="zelf-card__subtitle">{{ t("welcome.offline_subtitle") }}</p>
            </ng-container>

            <ng-container *ngIf="tagModel?.publicData?.origin !== 'offline'">
                <p class="zelf-card__subtitle welcome-registered__subtitle">
                    <span *ngIf="tagModel?.publicData?.registeredAt">
                        {{ t("welcome.registered", { date: tagModel?.publicData?.registeredAt | date: "MMMM dd, yyyy" }) }}
                    </span>
                </p>

                <div class="welcome-registered__addresses">
                    <ng-container
                        *ngTemplateOutlet="
                            addressRow;
                            context: {
                                $implicit: {
                                    address: tagModel?.publicData?.blockDAGAddress,
                                    label: t('common.bdag_address'),
                                    logo: 'assets/networks/bdag.png',
                                    value: tagModel?.displayBlockDAGAddress,
                                },
                            }
                        "
                    ></ng-container>

                    <ng-container
                        *ngTemplateOutlet="
                            addressRow;
                            context: {
                                $implicit: {
                                    address: tagModel?.publicData?.btcAddress,
                                    label: t('common.btc_address'),
                                    logo: 'assets/networks/btc.png',
                                    value: tagModel?.displayBtcAddress,
                                },
                            }
                        "
                    ></ng-container>

                    <ng-container
                        *ngTemplateOutlet="
                            addressRow;
                            context: {
                                $implicit: {
                                    address: tagModel?.publicData?.ethAddress,
                                    label: t('common.eth_address'),
                                    logo: 'assets/networks/eth.png',
                                    value: tagModel?.displayEthAddress,
                                },
                            }
                        "
                    ></ng-container>

                    <ng-container
                        *ngTemplateOutlet="
                            addressRow;
                            context: {
                                $implicit: {
                                    address: tagModel?.publicData?.solanaAddress,
                                    label: t('common.sol_address'),
                                    logo: 'assets/networks/sol.svg',
                                    value: tagModel?.displaySolanaAddress,
                                },
                            }
                        "
                    ></ng-container>

                    <ng-container
                        *ngTemplateOutlet="
                            addressRow;
                            context: {
                                $implicit: {
                                    address: tagModel?.publicData?.xlmAddress,
                                    label: t('common.stellar_address'),
                                    logo: 'assets/icons/xlm_logo.svg',
                                    value: tagModel?.displayXlmAddress,
                                },
                            }
                        "
                    ></ng-container>

                    <ng-container
                        *ngTemplateOutlet="
                            addressRow;
                            context: {
                                $implicit: {
                                    address: tagModel?.publicData?.tonAddress,
                                    label: t('common.ton_address'),
                                    logo: 'assets/networks/ton.png',
                                    value: tagModel?.displayTonAddress,
                                },
                            }
                        "
                    ></ng-container>

                    <ng-container
                        *ngTemplateOutlet="
                            addressRow;
                            context: {
                                $implicit: {
                                    address: tagModel?.publicData?.aptosAddress,
                                    label: t('common.aptos_address'),
                                    logo: 'assets/networks/aptos.svg',
                                    value: tagModel?.displayAptosAddress,
                                },
                            }
                        "
                    ></ng-container>

                    <ng-container
                        *ngTemplateOutlet="
                            addressRow;
                            context: {
                                $implicit: {
                                    address: tagModel?.publicData?.ethAddress,
                                    label: t('common.avax_address'),
                                    logo: 'assets/networks/avax.png',
                                    value: tagModel?.displayAvalancheAddress,
                                },
                            }
                        "
                    ></ng-container>

                    <ng-container
                        *ngTemplateOutlet="
                            addressRow;
                            context: {
                                $implicit: {
                                    address: tagModel?.publicData?.ethAddress,
                                    label: t('common.bnb_address'),
                                    logo: 'assets/icons/bnb_logo.svg',
                                    value: tagModel?.displayBinanceAddress,
                                },
                            }
                        "
                    ></ng-container>
                </div>

                <ng-container *ngIf="tagModel?.publicData?.type === 'mainnet' && tagModel?.isExpired">
                    <div class="welcome-registered__date-row" *ngIf="tagModel?.publicData?.expiresAt">
                        <div class="welcome-registered__date-column">
                            <p class="welcome-registered__date-title">
                                {{ t("welcome.name_expires") }}
                            </p>

                            <div class="welcome-registered__date-text__inner-row">
                                <p class="welcome-registered__date-text">
                                    {{ tagModel?.publicData?.expiresAt | date: "dd MMM, yyyy" }}
                                </p>

                                <svg width="14" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M7.4935 0.333984C3.8135 0.333984 0.833496 3.32065 0.833496 7.00065C0.833496 10.6807 3.8135 13.6673 7.4935 13.6673C11.1802 13.6673 14.1668 10.6807 14.1668 7.00065C14.1668 3.32065 11.1802 0.333984 7.4935 0.333984ZM10.1668 9.66732C9.90683 9.92732 9.48683 9.92732 9.22683 9.66732L7.0335 7.47398C6.90683 7.34732 6.8335 7.18065 6.8335 7.00065V4.33398C6.8335 3.96732 7.1335 3.66732 7.50016 3.66732C7.86683 3.66732 8.16683 3.96732 8.16683 4.33398V6.72732L10.1668 8.72732C10.4268 8.98732 10.4268 9.40732 10.1668 9.66732Z"
                                        fill="#0E26FF"
                                    />
                                </svg>
                            </div>
                        </div>

                        <div class="welcome-registered__date-column">
                            <p class="welcome-registered__date-title">
                                {{ t("welcome.grace_period_until") }}
                            </p>

                            <div class="welcome-registered__date-text__inner-row">
                                <p class="welcome-registered__date-text" *ngIf="tagModel?.publicData?.expiresAt">
                                    {{ tagModel?.publicData?.expiresAt | date: "dd MMM, yyyy" }}
                                </p>

                                <svg width="14" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M7.50016 0.333984C3.82016 0.333984 0.833496 3.32065 0.833496 7.00065C0.833496 10.6807 3.82016 13.6673 7.50016 13.6673C11.1802 13.6673 14.1668 10.6807 14.1668 7.00065C14.1668 3.32065 11.1802 0.333984 7.50016 0.333984ZM7.50016 10.334C7.1335 10.334 6.8335 10.034 6.8335 9.66732V7.00065C6.8335 6.63398 7.1335 6.33398 7.50016 6.33398C7.86683 6.33398 8.16683 6.63398 8.16683 7.00065V9.66732C8.16683 10.034 7.86683 10.334 7.50016 10.334ZM8.16683 5.00065H6.8335V3.66732H8.16683V5.00065Z"
                                        fill="#0E26FF"
                                    />
                                </svg>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </div>

    <div class="zelf-card__actions zelf-card__actions--column">
        <ng-container *ngIf="tagModel?.publicData?.origin === 'offline'">
            <div class="tip-box">
                <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M7.3 0.1878L1.3 2.4378C0.52 2.7378 0 3.4778 0 4.3178V9.0278C0 14.0778 3.41 18.7878 8 19.9378C12.59 18.7878 16 14.0778 16 9.0278V4.3178C16 3.4878 15.48 2.7378 14.7 2.4478L8.7 0.1978C8.25 0.0178002 7.75 0.0178002 7.3 0.1878ZM6.23 12.7578L4.11 10.6378C3.72 10.2478 3.72 9.6178 4.11 9.2278C4.5 8.8378 5.13 8.8378 5.52 9.2278L6.93 10.6378L10.47 7.0978C10.86 6.7078 11.49 6.7078 11.88 7.0978C12.27 7.4878 12.27 8.1178 11.88 8.5078L7.64 12.7478C7.26 13.1478 6.62 13.1478 6.23 12.7578Z"
                        fill="#0e26ff"
                    />
                </svg>

                <p class="tip-box__text">{{ t("welcome.offline_tip") }}</p>
            </div>

            <button [routerLink]="['../offline-import']" mat-flat-button class="zelf-button zelf-button--primary zelf-button--wide">
                {{ t("common.import_wallet") }}
            </button>

            <button [routerLink]="['/home']" mat-flat-button class="zelf-button zelf-button--hyperlink zelf-button--wide">
                {{ t("welcome.i_understand_go_back") }}
            </button>
        </ng-container>

        <ng-container *ngIf="tagModel?.publicData?.origin !== 'offline'">
            <ng-container *ngIf="tagModel?.publicData?.type === 'hold'">
                <button (click)="purchaseNow()" mat-flat-button class="zelf-button zelf-button--primary zelf-button--wide">
                    {{ t("common.purchase_now") }}
                </button>

                <button (click)="login()" mat-flat-button class="zelf-button zelf-button--hyperlink zelf-button--wide">
                    {{ t("welcome.decrypt_now_pay_later") }}
                </button>
            </ng-container>

            <ng-container *ngIf="tagModel?.publicData?.type === 'mainnet'">
                <div class="tip-box" *ngIf="tagModel?.isExpired">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M10 0C4.48 0 0 4.48 0 10C0 15.52 4.48 20 10 20C15.52 20 20 15.52 20 10C20 4.48 15.52 0 10 0ZM10 11C9.45 11 9 10.55 9 10V6C9 5.45 9.45 5 10 5C10.55 5 11 5.45 11 6V10C11 10.55 10.55 11 10 11ZM11 15H9V13H11V15Z"
                            fill="#FF5721"
                        />
                    </svg>

                    <p class="tip-box__text">{{ t("welcome.dont_lose_your_zelfname") }}</p>
                </div>

                <button (click)="login()" mat-flat-button class="zelf-button zelf-button--primary zelf-button--wide">
                    {{ t("common.decrypt_zelfname") }}
                </button>
            </ng-container>
        </ng-container>
    </div>
</div>

<ng-template #addressRow let-address>
    <ng-container *transloco="let t">
        <div (click)="copyToClipboard(address.address)" class="address-row tooltip-container" *ngIf="address.value">
            <div class="address-row__inner">
                <img class="address-row__logo" [src]="address.logo" alt="Currency Logo" />

                <div class="address-row__label">{{ address.label }}</div>
                <div class="address-row__value">{{ address.value }}</div>
            </div>

            <div class="tooltip">{{ t("common.copy") }}</div>
        </div>
    </ng-container>
</ng-template>
