<div class="zelf-card send-transaction" *transloco="let t">
    <ng-container *ngIf="!loading">
        <div class="send-transaction__header">
            <div class="send-transaction__col1">
                <button (click)="goBack()" mat-flat-button class="zelf-icon-button zelf-icon-button--secondary zelf-icon-button--40">
                    <svg width="22" height="14" viewBox="0 0 22 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M20.0898 5.8277H4.72478L8.08478 2.4677C8.53978 2.0127 8.53978 1.2777 8.08478 0.822695C7.62978 0.367695 6.89478 0.367695 6.43978 0.822695L1.08478 6.1777C0.62978 6.6327 0.62978 7.3677 1.08478 7.8227L6.43978 13.1777C6.89478 13.6327 7.62978 13.6327 8.08478 13.1777C8.53978 12.7227 8.53978 11.9877 8.08478 11.5327L4.72478 8.16103H20.0898C20.7314 8.16103 21.2564 7.63603 21.2564 6.99436C21.2564 6.3527 20.7314 5.8277 20.0898 5.8277Z"
                        />
                    </svg>
                </button>
            </div>

            <div class="send-transaction__col2">
                <p class="send-transaction__title">{{ t("common.send_symbol", { symbol: transactionData.symbol }) }}</p>
            </div>

            <div class="send-transaction__col3"></div>
        </div>

        <form class="send-transaction__form" [formGroup]="form">
            <div class="zelf-card__content send-transaction__content">
                <p class="send-transaction__input-label">
                    <span class="send-transaction__input-label-text">{{ t("common.from") }}:</span>
                </p>

                <input type="hidden" formControlName="fromAddress" id="fromAddress" name="fromAddress" />

                <div class="send-transaction__from-stacked" role="group" [attr.aria-label]="t('send.from_address')">
                    <div class="send-transaction__from-stacked-tag">
                        {{ transactionData.sender.fullTagName | uppercase }}
                    </div>
                    <div class="send-transaction__from-stacked-address">
                        {{ form.get("fromAddress")?.value | addressMask }}
                    </div>
                </div>

                <p class="send-transaction__input-label send-transaction__input-label--mt-8">
                    <span class="send-transaction__input-label-text">{{ t("common.to") }}:</span>
                </p>

                <div
                    class="zelf-input zelf-input--wide zelf-input--gap-narrow"
                    [ngClass]="{ 'zelf-input--error': form.get('toAddress')?.dirty && form.get('toAddress')?.invalid }"
                >
                    <input
                        (paste)="pastedAddress($event)"
                        [placeholder]="t('send.domain_or_address')"
                        [readonly]="withdrawStep"
                        autocomplete="off"
                        class="zelf-input__control"
                        formControlName="toAddress"
                        id="toAddress"
                        name="toAddress"
                        required
                    />

                    <button
                        (click)="pasteAddress()"
                        [disabled]="searching"
                        *ngIf="!withdrawStep"
                        class="zelf-icon-button zelf-icon-button--transparent zelf-icon-button--text"
                        type="button"
                        mat-flat-button
                    >
                        {{ t("common.paste") | uppercase }}
                    </button>
                </div>

                <div
                    class="zelf-message zelf-message--error zelf-message--column"
                    *ngIf="form.get('toAddress')?.dirty && form.get('toAddress')?.errors"
                >
                    <ng-container *ngIf="form.get('toAddress')?.errors?.required">
                        <div class="zelf-message__row">
                            <ng-container *ngTemplateOutlet="cross"></ng-container>
                            <p>{{ t("errors.required_field") }}</p>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="form.get('toAddress')?.errors?.sameAddress">
                        <div class="zelf-message__row">
                            <ng-container *ngTemplateOutlet="cross"></ng-container>
                            <p>{{ t("errors.same_address") }}</p>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="form.get('toAddress')?.errors?.maxLength">
                        <div class="zelf-message__row">
                            <ng-container *ngTemplateOutlet="cross"></ng-container>
                            <p>{{ t("errors.address_too_long") }}</p>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="form.get('toAddress')?.errors?.invalidFormat">
                        <div class="zelf-message__row">
                            <ng-container *ngTemplateOutlet="cross"></ng-container>
                            <p>{{ t("errors.invalid_format") }}</p>
                        </div>
                    </ng-container>
                </div>

                <ng-container *ngIf="withdrawStep">
                    <p class="send-transaction__input-label send-transaction__input-label--mt-8">{{ t("send.withdrawal_amount") }}:</p>

                    <div
                        class="zelf-input zelf-input--wide"
                        [ngClass]="{ 'zelf-input--error': showAmountFieldErrorState }"
                    >
                        <input
                            (input)="onAmountInput($event)"
                            (blur)="onAmountBlur()"
                            (keydown)="onAmountKeydown($event)"
                            (paste)="onAmountPaste($event)"
                            [placeholder]="t('send.enter_amount_to_send')"
                            autocomplete="off"
                            class="zelf-input__control"
                            formControlName="amount"
                            id="amount"
                            inputmode="decimal"
                            name="amount"
                            type="text"
                        />

                        <button (click)="withdrawAll()" class="zelf-icon-button zelf-icon-button--transparent" mat-flat-button type="button">
                            {{ t("common.all") | uppercase }}
                        </button>
                    </div>

                    <div class="send-transaction__fiat-row">
                        <span class="send-transaction__fiat-price">~{{ fiatPrice | currency: "USD" : "symbol" : "1.2" }}</span>
                        <div class="send-transaction__amount-inline-errors" *ngIf="showAmountFieldErrorState">
                            <span *ngIf="form.get('amount')?.errors?.invalidNumber" class="send-transaction__amount-inline-error">
                                {{ t("send.amount_inline_invalid") }}
                            </span>
                            <span *ngIf="form.get('amount')?.errors?.lessThan" class="send-transaction__amount-inline-error">
                                {{ t("send.amount_inline_max", { amount: formatAmountForInlineError(form.get('amount')?.errors?.lessThan?.value) }) }}
                            </span>
                            <span *ngIf="form.get('amount')?.errors?.dustTooSmall" class="send-transaction__amount-inline-error">
                                {{ t("send.amount_inline_min", { amount: dustMinAmountDisplay() }) }}
                            </span>
                        </div>
                    </div>

                    <p class="zelf-input__tip">
                        {{ t("send.available_balance", { symbol: transactionData.symbol, balance: displaySendableBalance }) }}
                    </p>

                    <ng-container *ngIf="transactionData.isXlmToken">
                        <p class="send-transaction__input-label send-transaction__input-label--mt-8">
                            <span class="send-transaction__input-label-text">{{ t("send.memo_optional") }}:</span>
                        </p>
                        <div class="zelf-input zelf-input--wide zelf-input--gap-narrow">
                            <input
                                autocomplete="off"
                                class="zelf-input__control"
                                formControlName="memo"
                                id="memo"
                                maxlength="28"
                                name="memo"
                                [placeholder]="t('send.memo_placeholder')"
                                type="text"
                            />
                        </div>
                    </ng-container>
                </ng-container>

                <ng-container *ngIf="!withdrawStep && filteredAddresses.length">
                    <div class="send-transaction__address-book">
                        <p class="send-transaction__address-book-label">
                            <svg width="14" height="14" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm.5 5v5.25l4.5 2.67-.75 1.23L11 13V7h1.5z"/>
                            </svg>
                            {{ t("send.recent_addresses") }}
                        </p>

                        <div
                            (click)="selectRecentAddress(address)"
                            [matRippleColor]="'rgba(0, 0, 0, 0.1)'"
                            *ngFor="let address of filteredAddresses"
                            class="send-transaction__recent-card"
                            [class.send-transaction__recent-card--selected]="address.address === form.get('toAddress')?.value"
                            matRipple
                        >
                            <div class="send-transaction__recent-avatar">
                                <span *ngIf="address.tagName">{{ address.tagName.slice(0, 2).toUpperCase() }}</span>
                                <svg *ngIf="!address.tagName" width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21 18v1c0 1.1-.9 2-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v1h-9a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h9zm-9-2h10V8H12v8zm4-2.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                                </svg>
                            </div>

                            <div class="send-transaction__recent-info">
                                <span class="send-transaction__recent-name" *ngIf="address.tagName">
                                    {{ address.tagName }}{{ address.domain ? "." + address.domain : "" }}
                                </span>
                                <span class="send-transaction__recent-name" *ngIf="!address.tagName">
                                    {{ address.address | addressMask }}
                                </span>
                                <span class="send-transaction__recent-address" *ngIf="address.tagName">
                                    {{ address.address | addressMask }}
                                </span>
                                <span class="send-transaction__recent-time">
                                    {{ t("send.used", { days: getTimeDiff(address.lastUsed) }) }}
                                </span>
                            </div>

                            <svg *ngIf="address.address === form.get('toAddress')?.value"
                                class="send-transaction__recent-check"
                                width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-1.41 14.58L6.7 12.7a.996.996 0 1 1 1.41-1.41l2.89 2.88 6.88-6.88a.996.996 0 1 1 1.41 1.41l-7.59 7.58c-.39.39-1.02.39-1.41 0z"/>
                            </svg>
                        </div>
                    </div>
                </ng-container>

                <zelf-loader *ngIf="searching"></zelf-loader>

                <ng-container *ngIf="!withdrawStep">
                    <div class="zelf-object-preview" *ngIf="foundAddress && !isZelfNameNotFound && !isFromRecentAddress">
                        <p class="zelf-object-preview__status">
                            <svg width="12" height="12" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10 0C4.48 0 0 4.48 0 10C0 15.52 4.48 20 10 20C15.52 20 20 15.52 20 10C20 4.48 15.52 0 10 0ZM8 15L3 10L4.41 8.59L8 12.17L15.59 4.58L17 6L8 15Z"/>
                            </svg>
                            <span *ngIf="foundAddress.name">{{ t("send.address_found") }}</span>
                            <span *ngIf="!foundAddress.name">{{ t("send.external_address_found") }}</span>
                        </p>

                        <div class="zelf-object-preview__row">
                            <div class="zelf-object-preview__avatar">
                                {{ (foundAddress.fullTagName || foundAddress.name || '').slice(0, 2).toUpperCase() }}
                            </div>
                            <div class="zelf-object-preview__details">
                                <span class="zelf-object-preview__name">{{ foundAddress.fullTagName }}</span>
                                <span class="zelf-object-preview__address-short" *ngIf="transactionData.isEthToken || transactionData.isAvaxToken">{{ foundAddress.publicData.ethAddress | addressMask }}</span>
                                <span class="zelf-object-preview__address-short" *ngIf="transactionData.isSolToken">{{ foundAddress.publicData.solanaAddress | addressMask }}</span>
                                <span class="zelf-object-preview__address-short" *ngIf="transactionData.isBtcToken">{{ foundAddress.publicData.btcAddress | addressMask }}</span>
                                <span class="zelf-object-preview__address-short" *ngIf="transactionData.isSuiToken">{{ foundAddress.publicData.suiAddress | addressMask }}</span>
                                <span class="zelf-object-preview__address-short" *ngIf="transactionData.isBDAGToken">{{ foundAddress.publicData.blockDAGAddress | addressMask }}</span>
                                <span class="zelf-object-preview__address-short" *ngIf="transactionData.isXlmToken">{{ foundAddress.publicData.xlmAddress | addressMask }}</span>
                                <span class="zelf-object-preview__address-short" *ngIf="transactionData.isAptToken">{{ foundAddress.publicData.aptosAddress | addressMask }}</span>
                            </div>
                            <svg class="zelf-object-preview__check" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10 0C4.48 0 0 4.48 0 10C0 15.52 4.48 20 10 20C15.52 20 20 15.52 20 10C20 4.48 15.52 0 10 0ZM8 15L3 10L4.41 8.59L8 12.17L15.59 4.58L17 6L8 15Z"/>
                            </svg>
                        </div>
                    </div>

                    <div class="zelf-object-preview" *ngIf="isZelfNameNotFound">
                        <div class="zelf-object-preview__chip">
                            <div class="zelf-object-preview__icon-bubble zelf-object-preview__icon-bubble--error">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M10 0C4.48 0 0 4.48 0 10C0 15.52 4.48 20 10 20C15.52 20 20 15.52 20 10C20 4.48 15.52 0 10 0ZM11 15H9V13H11V15ZM11 11H9V5H11V11Z"
                                        fill="currentColor"
                                    />
                                </svg>
                            </div>

                            <p class="zelf-object-preview__chip-text">{{ t("send.zelf_name_not_registered") }}</p>
                        </div>

                        <hr class="zelf-object-preview__horizontal-rule" />

                        <p class="zelf-object-preview__instructions">{{ t("send.cannot_continue_process") }}</p>
                    </div>
                </ng-container>
            </div>

            <div class="zelf-card__actions">
                <button
                    (click)="continueToWithdraw()"
                    [disabled]="isWithdrawDisabled()"
                    *ngIf="!withdrawStep"
                    class="zelf-button zelf-button--primary zelf-button--wide"
                    mat-flat-button
                    type="button"
                >
                    {{ t("common.next") }}
                </button>

                <button
                    (click)="onWithdrawPrimaryClick()"
                    *ngIf="withdrawStep"
                    [attr.aria-disabled]="isConfirmationDisabled()"
                    [class.send-transaction__withdraw-cta--blocked]="isConfirmationDisabled()"
                    class="zelf-button zelf-button--primary zelf-button--wide send-transaction__withdraw-cta"
                    mat-flat-button
                    type="button"
                >
                    {{ t("common.withdraw") }}
                </button>


            </div>
        </form>
    </ng-container>

    <zelf-loader *ngIf="loading"></zelf-loader>
</div>

<ng-template #cross>
    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M10 0C4.47 0 0 4.47 0 10C0 15.53 4.47 20 10 20C15.53 20 20 15.53 20 10C20 4.47 15.53 0 10 0ZM14.3 14.3C13.91 14.69 13.28 14.69 12.89 14.3L10 11.41L7.11 14.3C6.72 14.69 6.09 14.69 5.7 14.3C5.31 13.91 5.31 13.28 5.7 12.89L8.59 10L5.7 7.11C5.31 6.72 5.31 6.09 5.7 5.7C6.09 5.31 6.72 5.31 7.11 5.7L10 8.59L12.89 5.7C13.28 5.31 13.91 5.31 14.3 5.7C14.69 6.09 14.69 6.72 14.3 7.11L11.41 10L14.3 12.89C14.68 13.27 14.68 13.91 14.3 14.3Z"
            fill="#DC362E"
        />
    </svg>
</ng-template>
