<div class="zelf-card wallet" fxLayout="column" fxLayoutAlign="start center" *transloco="let t">
    <div class="wallet__header">
        <div class="wallet__col1">
            <button mat-flat-button class="zelf-icon-button zelf-icon-button--40 zelf-icon-button--secondary" [routerLink]="['/home']">
                <svg width="22" height="14" viewBox="0 0 22 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M20.0898 5.8277H4.72478L8.08478 2.4677C8.53978 2.0127 8.53978 1.2777 8.08478 0.822695C7.62978 0.367695 6.89478 0.367695 6.43978 0.822695L1.08478 6.1777C0.62978 6.6327 0.62978 7.3677 1.08478 7.8227L6.43978 13.1777C6.89478 13.6327 7.62978 13.6327 8.08478 13.1777C8.53978 12.7227 8.53978 11.9877 8.08478 11.5327L4.72478 8.16103H20.0898C20.7314 8.16103 21.2564 7.63603 21.2564 6.99436C21.2564 6.3527 20.7314 5.8277 20.0898 5.8277Z"
                    />
                </svg>
            </button>
        </div>

        <div class="wallet__col2">
            <p class="wallet__title">{{ t("common.zelf_id") }}</p>
        </div>

        <div class="wallet__col3 wallet__col3--spacer" aria-hidden="true"></div>
    </div>

    <div class="wallet__app-content">
        <div class="wallet__container">
            <ng-container *ngIf="!loading">
                <div class="wallet__hero-card">
                    <div class="wallet__hero-inner">
                        <div class="qr-code wallet__qr">
                            <img class="qr-code__image" [src]="wallet.image" alt="" />
                        </div>

                        <div
                            class="wallet__status-chip"
                            [ngClass]="{
                                'wallet__status-chip--active': getWalletStatus() === 'active',
                                'wallet__status-chip--hold': !wallet.publicData?.isExpired && wallet.publicData?.type === 'hold',
                                'wallet__status-chip--inactive': wallet.publicData?.isExpired,
                            }"
                        >
                            {{ t("wallet_status." + getWalletStatus()) }}
                        </div>

                        <h2 class="zelf-card__title wallet__tag-title">{{ wallet.fullTagName | uppercase }}</h2>

                        <div
                            class="wallet__quick-actions"
                            fxLayout="row wrap"
                            fxLayoutAlign="center center"
                            fxLayoutGap="16px"
                            *ngIf="showDownloadQrButton || showSeedPhraseButton || showZelfLinkButton || showSyncButton"
                        >
                            <div class="zelf-action-button" *ngIf="showDownloadQrButton">
                                <div
                                    class="zelf-action-button__icon"
                                    role="button"
                                    tabindex="0"
                                    (click)="downloadQRCode()"
                                    (keydown.enter)="downloadQRCode()"
                                >
                                    <div class="zelf-action-button__icon-box">
                                        <span class="material-symbols-outlined" aria-hidden="true">download</span>
                                    </div>
                                    <div class="zelf-action-button__text">{{ t("common.download_qr") }}</div>
                                </div>
                            </div>
                            <div class="zelf-action-button" *ngIf="showSeedPhraseButton">
                                <div
                                    class="zelf-action-button__icon"
                                    role="button"
                                    tabindex="0"
                                    (click)="openSeedPhraseSheet()"
                                    (keydown.enter)="openSeedPhraseSheet()"
                                >
                                    <div class="zelf-action-button__icon-box">
                                        <span class="material-symbols-outlined" aria-hidden="true">lock</span>
                                    </div>
                                    <div class="zelf-action-button__text">{{ t("common.seed_phrase") }}</div>
                                </div>
                            </div>
                            <div class="zelf-action-button" *ngIf="showZelfLinkButton">
                                <div
                                    class="zelf-action-button__icon"
                                    role="button"
                                    tabindex="0"
                                    (click)="openMyArnsBottomSheet()"
                                    (keydown.enter)="openMyArnsBottomSheet()"
                                >
                                    <div class="zelf-action-button__icon-box">
                                        <span class="material-symbols-outlined" aria-hidden="true">public</span>
                                    </div>
                                    <div class="zelf-action-button__text">{{ t("common.zelf_link") }}</div>
                                </div>
                            </div>
                            <div class="zelf-action-button" *ngIf="showSyncButton">
                                <div
                                    class="zelf-action-button__icon"
                                    role="button"
                                    tabindex="0"
                                    [attr.aria-busy]="syncing"
                                    (click)="syncWallet()"
                                    (keydown.enter)="syncWallet()"
                                >
                                    <div class="zelf-action-button__icon-box">
                                        <span class="material-symbols-outlined" aria-hidden="true">cloud_sync</span>
                                    </div>
                                    <div class="zelf-action-button__text">{{ t("wallet.action_sync") }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="wallet__tabs">
                    <div class="animated-tabs">
                        <div
                            class="animated-tabs__switch"
                            [ngClass]="{
                                'animated-tabs__switch--left': selectedTab === 'addresses',
                                'animated-tabs__switch--right': selectedTab === 'info',
                            }"
                        >
                            <div
                                (click)="selectTab('addresses')"
                                [ngClass]="{ 'animated-tab--active': selectedTab === 'addresses' }"
                                class="animated-tab"
                            >
                                <div class="animated-tab__text">{{ t("wallet.addresses") }}</div>
                            </div>

                            <div (click)="selectTab('info')" [ngClass]="{ 'animated-tab--active': selectedTab === 'info' }" class="animated-tab">
                                <div class="animated-tab__text">{{ t("wallet.info") }}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="wallet__tab-content" *ngIf="selectedTab === 'addresses'">
                    <div class="wallet__addresses-scroll">
                        <div class="wallet__addresses">
                            <div class="crypto-address" *ngFor="let network of networks">
                                <div class="crypto-address__col">
                                    <p class="crypto-address__text">{{ network.name }}</p>
                                    <p class="crypto-address__address-text">{{ network.address | addressMask }}</p>
                                </div>
                                <button
                                    class="zelf-icon-button zelf-icon-button--40 zelf-icon-button--secondary zelf-icon-button--border-soft"
                                    (click)="copyToClipboardForNetwork($event, network)"
                                >
                                    <ng-container *ngTemplateOutlet="clipboardIcon"></ng-container>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="wallet__tab-content" *ngIf="selectedTab === 'info'">
                    <div class="wallet__details">
                        <div class="wallet__detail mb-2" *ngIf="wallet.publicData?.registeredAt">
                            <p class="wallet__detail-title">{{ t("manage_domain.registered_since") }}</p>
                            <p class="wallet__detail-value">{{ wallet.publicData?.registeredAt | date: "dd MMM, yyyy, hh:mm aa" }}</p>
                        </div>

                        <div class="wallet__detail" *ngIf="wallet.publicData?.type === 'hold'">
                            <p class="wallet__detail-title">{{ t("manage_domain.hold_until") }}</p>
                            <p class="wallet__detail-value">{{ wallet.publicData?.expiresAt | date: "dd MMM, yyyy" }}</p>
                        </div>

                        <div class="wallet__detail" *ngIf="wallet && wallet.publicData && wallet.publicData?.type === 'mainnet'">
                            <p class="wallet__detail-title">{{ t("manage_domain.registered_until") }}</p>
                            <p class="wallet__detail-value">{{ wallet.publicData.expiresAt | date: "dd MMM, yyyy, hh:mm aa" }}</p>
                        </div>
                    </div>
                </div>
            </ng-container>

            <zelf-loader [diameter]="30" *ngIf="loading"></zelf-loader>
        </div>
    </div>

    <div class="zelf-card__actions wallet__actions" *ngIf="showExtendSubscriptionButton">
        <button mat-flat-button class="zelf-button zelf-button--primary zelf-button--wide" (click)="extendRegistration()">
            {{ t("common.extend_registration") }}
        </button>
    </div>

    <ng-template #clipboardIcon>
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M15.5 20H5.5V7C5.5 6.45 5.05 6 4.5 6C3.95 6 3.5 6.45 3.5 7V20C3.5 21.1 4.4 22 5.5 22H15.5C16.05 22 16.5 21.55 16.5 21C16.5 20.45 16.05 20 15.5 20ZM20.5 16V4C20.5 2.9 19.6 2 18.5 2H9.5C8.4 2 7.5 2.9 7.5 4V16C7.5 17.1 8.4 18 9.5 18H18.5C19.6 18 20.5 17.1 20.5 16ZM18.5 16H9.5V4H18.5V16Z"
            />
        </svg>
    </ng-template>
</div>
