<ng-container *transloco="let t">
    <div class="welcome-error-shell">
        <div class="welcome-error-shell__item">
    <div class="zelf-card welcome-error">
        <div class="zelf-card__header">
            <div class="welcome-error__header-button">
                <button (click)="triggerGoBack()" mat-icon-button class="zelf-icon-button zelf-icon-button--40">
                    <svg viewBox="0 0 22 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M20.0898 5.8277H4.72478L8.08478 2.4677C8.53978 2.0127 8.53978 1.2777 8.08478 0.822695C7.62978 0.367695 6.89478 0.367695 6.43978 0.822695L1.08478 6.1777C0.62978 6.6327 0.62978 7.3677 1.08478 7.8227L6.43978 13.1777C6.89478 13.6327 7.62978 13.6327 8.08478 13.1777C8.53978 12.7227 8.53978 11.9877 8.08478 11.5327L4.72478 8.16103H20.0898C20.7314 8.16103 21.2564 7.63603 21.2564 6.99436C21.2564 6.3527 20.7314 5.8277 20.0898 5.8277Z"
                        />
                    </svg>
                </button>
            </div>
        </div>

        <div class="welcome-error__main">
            <div class="welcome-error__content">
                <div class="welcome-error__icon-container">
                    <ng-container *ngIf="errorImage; else defaultIcon">
                        <img [src]="errorImage" class="welcome-error__image" alt="Error Image" />
                    </ng-container>
                    <ng-template #defaultIcon>
                        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12 8V12M12 16H12.01M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z"
                                stroke="#DC362E"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                        </svg>
                    </ng-template>
                </div>

                <h2 class="welcome-error__title">{{ this.errorTitle }}</h2>
                <p class="welcome-error__message" [innerHTML]="this.errorMessage"></p>
            </div>

            <div class="zelf-card__actions">
                <button (click)="triggerGoBack()" class="zelf-button zelf-button--wide zelf-button--primary">
                    {{ t("common.try_again") }}
                </button>
            </div>
        </div>
    </div>
        </div>
    </div>

    <ng-template #cross>
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M10 0C4.47 0 0 4.47 0 10C0 15.53 4.47 20 10 20C15.53 20 20 15.53 20 10C20 4.47 15.53 0 10 0ZM14.3 14.3C13.91 14.69 13.28 14.69 12.89 14.3L10 11.41L7.11 14.3C6.72 14.69 6.09 14.69 5.7 14.3C5.31 13.91 5.31 13.28 5.7 12.89L8.59 10L5.7 7.11C5.31 6.72 5.31 6.09 5.7 5.7C6.09 5.31 6.72 5.31 7.11 5.7L10 8.59L12.89 5.7C13.28 5.31 13.91 5.31 14.3 5.7C14.69 6.09 14.69 6.72 14.3 7.11L11.41 10L14.3 12.89C14.68 13.27 14.68 13.91 14.3 14.3Z"
                fill="#DC362E"
            />
        </svg>
    </ng-template>
</ng-container>
